@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(216, 15%, 48%);
    --dark-blue: hsl(218, 44%, 22%);

    --paragraph-size: 15px;
    --title-size: 20px; /* antes era 1.2rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
}

img {
    width: 100%;
    display: block; /* recomendado en el feedback */
}

.card {
    width: 90%;
    max-width: 290px;
    background-color: var(--white);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.26);
}

.card__img {
    border-radius: 16px;
}

.card__text {
    text-align: center;
    padding: 16px 6px;
}

.card__title {
    color: var(--dark-blue);
    font-size: var(--title-size);
    font-weight: 700;
    margin-bottom: 16px;
}

.card__paragraph {
    color: var(--grayish-blue);
    font-size: var(--paragraph-size);
    font-weight: 400;
}