:root {
  /* Colors */
  --color-primary-teal-500: hsl(179, 62%, 43%);
  --color-primary-green-400: hsl(71, 73%, 54%);
  --color-neutral-teal-100: hsl(204, 43%, 93%);
  --color-neutral-gray-500: hsl(218, 22%, 67%);

  /* Typography */
  --font-family-base: 'Karla', sans-serif;
  --font-size-body: 16px;

  /* Layout helpers */
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  background-color: var(--color-neutral-teal-100);
  line-height: 1.6;

  /* Center component, not layout */
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.price-grid {
  margin: 20px;
  border-radius: var(--border-radius);
  overflow: hidden;
  /* Mobile-first width */
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
}

/* Section of the header (First Card)*/
.price-grid__header {
  background-color: #ffffff;
  padding: 40px;
}

.price-grid__header h1 {
  color: var(--color-primary-teal-500);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.price-grid__guarantee {
  color: var(--color-primary-green-400);
  font-weight: 700;
  margin-bottom: 12px;
}

.price-grid__description {
  color: var(--color-neutral-gray-500);
}

/* Section of the subscription (Second Card) */
.price-grid__subscription {
  background-color: var(--color-primary-teal-500);
  color: #ffffff;
  padding: 32px;
}
.price-grid__subscription h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.price-grid__price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.price-grid__price strong {
  font-size: 32px;
  font-weight: 700;
}
.price-grid__price span {
  opacity: 0.7;
}

/* Button styles */
.price-grid__button {
  width: 100%;
  background-color: var(--color-primary-green-400);
  color: #ffffff;
  padding: 15px;
  border-radius: var(--border-radius);
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 25px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


/* Section of the features (Third Card) */
.price-grid__features {
  background-color: hsl(179, 47%, 52%);
  padding: 32px;
  color: #ffffff;
}
.price-grid__features h2 {
  margin-bottom: 15px;
}
.price-grid__features ul {
  list-style: none;
}
.price-grid__features li {
  margin-bottom: 6px;
  opacity: 0.9;
}


/* Attribution */
.attribution {
    margin-top: 35px;
    font-size: 14px;
    text-align: center;
    color: #000;
    opacity: 0.7;
    margin-bottom: 5px;
}
.attribution a {
    color: var(--color-primary-teal-500);
    text-decoration: none;
    font-weight: 600;
}
.attribution a:hover {
    text-decoration: underline;
}

/* Media query for desktop */
@media (min-width: 768px) {
  .price-grid {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .price-grid__header {
    grid-column: 1 / -1;
  }
}
