@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);

    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(216, 15%, 48%);
    --darkBlue: hsl(218, 44%, 22%);

    --paragraphSize: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--lightGray);
}

img {
    width: 100%;
}

.card {
    width: 90%;
    max-width: 290px;
    background-color: var(--White);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.269);
}

.card__img {
    border-radius: 1rem;
}

.card__text {
    text-align: center;
    padding: 1rem .4rem;
}

.card__title {
    color: var(--darkBlue);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card__paragraph {
    color: var(--grayishBlue);
    font-size: var(--paragraphSize);
    font-weight: 400;
}