:root {
    --color-gold-500: hsl(31, 77%, 52%);
    --color-cyan-800: hsl(184, 100%, 22%);
    --color-green-950: hsl(179, 100%, 13%);
    --color-transparent-white: hsla(0, 0%, 100%, 0.75);
    --color-gray-100: hsl(0, 0%, 95%);
    
    --font-family-body: 'Lexend Deca', sans-serif;
    --font-family-heading: 'Big Shoulders', cursive;
    
    --font-weight-body: 400;
    --font-weight-heading: 700;
    
    --font-size-body: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-gray-100);
    font-family: var(--font-family-body);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTENEDOR */
.cards {
    display: flex;
    max-width: 920px;
    border-radius: 10px;
    overflow: hidden;
}

/* TARJETAS */
.card {
    padding: 48px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* COLORES */
.card--sedans {
    background-color: var(--color-gold-500);
}

.card--suvs {
    background-color: var(--color-cyan-800);
}

.card--luxury {
    background-color: var(--color-green-950);
}

/* ICONO */
.card__icon {
    width: 65px;
}

/* TITULO */
.card__title {
    font-family: var(--font-family-heading);
    font-size: 40px;
    text-transform: uppercase;
}

/* DESCRIPCION */
.card__description {
    font-size: var(--font-size-body);
    color: var(--color-transparent-white);
    line-height: 1.6;
}

/* BOTON */
.card__button {
    margin-top: auto;
    background-color: var(--color-gray-100);
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    width: fit-content;
    transition: 0.3s ease;
}

/* Colores botón */
.card--sedans .card__button {
    color: var(--color-gold-500);
}

.card--suvs .card__button {
    color: var(--color-cyan-800);
}

.card--luxury .card__button {
    color: var(--color-green-950);
}

/* Hover */
.card__button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .cards {
        flex-direction: column;
        max-width: 327px; /* ancho exacto del diseño mobile */
    }

    .card {
        width: 100%;
        padding: 40px;
    }
}

/* FOOTER */
.attribution {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}

.attribution a {
    color: var(--color-cyan-800);
    text-decoration: none;
}