:root {
    /* Colors Primary*/
    --color-gold-500: hsl(31, 77%, 52%);
    --color-cyan-800: hsl(184, 100%, 22%);
    --color-green-950: hsl(179, 100%, 13%);
    /* Colors Neutral*/
    --color-transparent-white: hsla(0, 0%, 100%, 0.75);
    --color-gray-100: hsl(0, 0%, 95%);
    
    /* Typography */
    --font-family-body: 'Lexend Deca', sans-serif;
    --font-family-heading: 'Big Shoulders', cursive;
    
    --font-weight-body: 400;
    --font-weight-heading: 700;
    
    --font-size-body: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color-gray-100);
    font-family: var(--font-family-body);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    max-width: 900px;
}

.card {
    padding: 48px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card--sedans {
    background-color: var(--color-gold-500);
    border-radius: 10px 0 0 10px;
}

.card--suvs {
    background-color: var(--color-cyan-800);
}

.card--luxury {
    background-color: var(--color-green-950);
    border-radius: 0 10px 10px 0;
}

/* Tipografia para titulo y parafos */
.card__title {
    font-family: var(--font-family-heading);
    font-size: 40px;
    text-transform: uppercase;
}
.card__description {
    color: var(--color-transparent-white);
    line-height: 1.6;
    font-size: var(--font-size-body);
}

/* Botones */
.card__button {
    margin-top: auto;
    background-color: var(--color-gray-100);
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    width: fit-content;
    transition: 0.3s ease;
}
/* Colores para los botones de cada tarjeta */
.card--sedans .card__button {
    color: var(--color-gold-500);
}
.card--suvs .card__button {
    color: var(--color-cyan-800);
}
.card--luxury .card__button {
    color: var(--color-green-950);
}
/* Efecto hover a los botones */
.card__button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* Responsive */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }

    .card--sedans {
        border-radius: 10px 10px 0 0;
    }

    .card--luxury {
        border-radius: 0 0 10px 10px;
    }
}


/* Footer */
.attribution {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: var(--font-size-body);
}
.attribution a {
  color: var(--color-green-950);
  text-decoration: none;
}