
:root {
    /* Colors Primary */
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    /* Colors Neutral */
    --color-grey-500: hsl(234, 12%, 34%);
    --color-grey-400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);
    /* Typography */
    --font-size-body: 15px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-body);
    color: var(--color-grey-500);
    background-color: var(--color-white);
}

/* Header */
header {
    font-family: poppins, sans-serif;
    text-align: center;
    padding: 80px 20px 80px 20px;
}
header h1 {
    font-size: 32px;
    margin-bottom: 2px;
    font-weight: 200;
    color: var(--color-grey-400);
}
header h2 {
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--color-grey-500);
}
header p {
    font-size: var(--font-size-body);
    line-height: 25px;
    max-width: 540px;
    margin: 0 auto;
}

/* Cards Section */
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 20px 80px 20px;
    max-width: 1100px;
    margin: 0 auto;
}
.card-1, .card-2, .card-3, .card-4 {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 60px 30px 30px 30px;
    text-align: center;
    position: relative;
}
