
:root {
    /* Colors Primary */
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    /* Colors Neutral */
    --color-grey-500: hsl(234, 12%, 34%);
    --color-grey-400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);
    /* Typography */
    --font-size-body: 15px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}