
:root {
    /* Colors Primary */
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    /* Colors Neutral */
    --color-grey-500: hsl(234, 12%, 34%);
    --color-grey-400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);
    /* Typography */
    --font-size-body: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-body);
    color: var(--color-grey-500);
    background-color: var(--color-white);
}

/* Header */
header {
    font-family: poppins, sans-serif;
    text-align: center;
    padding: 50px 20px 50px 20px;
}
header h1 {
    font-size: 30px;
    margin-bottom: 2px;
    font-weight: 200;
    color: var(--color-grey-400);
}
header h2 {
    font-size: 30px;
    margin-bottom: 16px;
    font-weight: 600;
    color: var(--color-grey-500);
}
header p {
    font-size: var(--font-size-body);
    line-height: 25px;
    max-width: 540px;
    margin: 0 auto;
}

/* Cards Section */
#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

/* Supervisor (izquierda, centrada verticalmente) */
.card-1 {
    grid-column: 1;
    grid-row: 1 / 3;
}

/* Team Builder (centro arriba) */
.card-2 {
    grid-column: 2;
    grid-row: 1;
}

/* Karma (centro abajo) */
.card-3 {
    grid-column: 2;
    grid-row: 2;
}

/* Calculator (derecha, centrada verticalmente) */
.card-4 {
    grid-column: 3;
    grid-row: 1 / 3;
}


.card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card p {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-grey-400);
}
.card-1, .card-2, .card-3, .card-4 {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    padding: 30px;
    position: relative;
    width: 350px;
    min-height: 250px;
}

.card-1 { 
    border-top: 4px solid var(--color-cyan); 
}
.card-2 { 
    border-top: 4px solid var(--color-red); 
}
.card-3 { 
    border-top: 4px solid var(--color-orange); 
}
.card-4 { 
    border-top: 4px solid var(--color-blue); 
}
.img-icon {
  position: absolute;
  bottom: 30px;
  right: 30px;
}



/* Footer */
.attribution {
    margin-top: 35px;
    font-size: 12px;
    text-align: center;
    color: var(--color-grey-500);
    opacity: 0.7;
    margin-bottom: 20px;
}
.attribution a {
    color: var(--color-blue);
    text-decoration: none;
    font-weight: bold;
}
.attribution a:hover {
    text-decoration: underline;
}
