
:root {
    /* Colors Primary */
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    /* Colors Neutral */
    --color-grey-500: hsl(234, 12%, 34%);
    --color-grey-400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);
    /* Typography */
    --font-size-body: 15px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-body);
    color: var(--color-grey-500);
    background-color: var(--color-white);
}

/* Container Text */
.container {
    text-align: center;
    padding: 60px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 2px;
    color: var(--color-grey-400);
}
.container h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--color-grey-500);
}
.container p {
    font-size: var(--font-size-body);
    font-weight: 400;
    max-width: 450px;
    line-height: 1.5;
    color: var(--color-grey-400);
}