:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    
    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    
    /* Fonts */
        --font-family: 'League Spartan', sans-serif;
        --font-size-base: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
