:root {
    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    
    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    
    /* Fonts */
        --font-family: 'League Spartan', sans-serif;
        --font-size-base: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
    background-color: var(--light-grayish-magenta);
    min-height: 100vh;
    margin: 40px 60px;
}


/* Contenido principal */
.main__container {
    background-color: var(--white);
    width: 90%;
    max-width: 450px;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__container h1 {
    color: var(--very-dark-magenta);
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.main__container p {
    color: var(--dark-grayish-magenta);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2px;
}

/* Espacio para las reseñas de estrellas y comentarios */


/* Espacio para los cards de los usuarios y su comentarios*/
.container__testimonials {
    display: flex;
    flex-direction: row;
}

/* Contenido de los cards testimonial */
.testimonial__item {
    background-color: var(--very-dark-magenta);
    color: var(--white);
    border: 2px solid #000;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}


/* Attribution */
.attribution {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--very-dark-magenta);
    opacity: 0.7;
    margin-bottom: 5px;
}
.attribution a {
    color: var(--soft-pink);
    text-decoration: none;
    font-weight: 600;
}
.attribution a:hover {
    text-decoration: underline;
}