:root {
    /* Primary Colors */
    --color-purple-50: hsl(260, 100%, 95%);
    --color-purple-300: hsl(264, 82%, 80%);
    --color-purple-500: hsl(263, 55%, 52%);
    
    /* Neutral Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-grey-100: hsl(214, 17%, 92%);
    --color-grey-200: hsl(0, 0%, 81%);
    --color-grey-400: hsl(224, 10%, 45%);
    --color-grey-500: hsl(217, 19%, 35%);
    --color-dark-blue: hsl(219, 29%, 14%);
    --color-black: hsl(0, 0%, 7%);

    /* Font Sizes */
    --font-size-13: 13px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--color-grey-100);
    color: var(--color-dark-blue);
    line-height: 1.6;
}





/* Footer */
.attribution {
    margin-top: 40px;
    font-size: var(--font-size-13);
    text-align: center;
    color: var(--color-dark-blue);
    opacity: 0.7;
    margin-bottom: 20px;
}
.attribution a {
    color: var(--color-purple-500);
    text-decoration: none;
    font-weight: bold;
}
.attribution a:hover {
    text-decoration: underline;
}