:root {
    /* Primary Colors */
    --color-purple-50: hsl(260, 100%, 95%);
    --color-purple-300: hsl(264, 82%, 80%);
    --color-purple-500: hsl(263, 55%, 52%);
    
    /* Neutral Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-grey-100: hsl(214, 17%, 92%);
    --color-grey-200: hsl(0, 0%, 81%);
    --color-grey-400: hsl(224, 10%, 45%);
    --color-grey-500: hsl(217, 19%, 35%);
    --color-dark-blue: hsl(219, 29%, 14%);
    --color-black: hsl(0, 0%, 7%);

    /* Font Sizes */
    --font-size-13: 13px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--color-grey-100);
    color: var(--color-dark-blue);
    line-height: 1.4;
}


/* Testimonials Section */
.testimonials {
    max-width: 1110px;
    margin: 80px auto; 
    padding: 0 24px;
}
.testimonials__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* Testimonial Cards */
.testimonial {
    background-color: var(--color-white);
    padding: 26px 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.testimonial__header {
    display: flex;
    align-items: center;
    gap: 15px;
}
.testimonial__user {
    display: flex;
    flex-direction: column;
}
.testimonial__name {
    font-weight: bold;
    font-size: 18px;
}
.testimonial__status {
    font-size: var(--font-size-13);
    color: var(--color-grey-100);
}
.testimonial__title {
    font-size: 1.2rem;
    line-height: 1.4;
}
.testimonial__quote {
    font-style: normal;
    color: var(--color-grey-200);
}

/* Card 1 */
.testimonial--purple {
    background-color: var(--color-purple-500);
    grid-column: 1 / 3;
    color: var(--color-white);
}
.testimonial__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--color-purple-300);
    object-fit: cover;
}

/* Card 2 */
.testimonial--dark-gray {
    background-color: var(--color-grey-500);
    color: var(--color-white);
}
.testimonial--dark-gray .testimonial__avatar {
    border: 2px solid var(--color-white);
}


/* Card 3 */
.testimonial--white {
    grid-column: 1 / 2;
    background-color: var(--color-white);
    color: var(--color-dark-blue);
}
.testimonial--white .testimonial__avatar {
    border: 2px solid var(--color-dark-blue);
}
.testimonial--white .testimonial__status {
    color: var(--color-dark-blue);
}
.testimonial--white .testimonial__quote {
    color: var(--color-grey-500);
}

/* Card 4 */
.testimonial--dark-blue {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    grid-column: 2 / 4;
}
.testimonial--dark-blue,
.testimonial__status {
    color: var(--color-grey-200);
}

/* Card 5 */
.testimonial--white-large {
    background-color: var(--color-white);
    color: var(--color-dark-blue);
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.testimonial--white-large .testimonial__avatar {
    border: 2px solid var(--color-dark-blue);
}
.testimonial--white-large .testimonial__status {
    color: var(--color-dark-blue);
}
.testimonial--white-large .testimonial__quote {
    color: var(--color-grey-500);
}


/* Footer */
.attribution {
    margin-top: 40px;
    font-size: var(--font-size-13);
    text-align: center;
    color: var(--color-dark-blue);
    opacity: 0.7;
    margin-bottom: 20px;
}
.attribution a {
    color: var(--color-purple-500);
    text-decoration: none;
    font-weight: bold;
}
.attribution a:hover {
    text-decoration: underline;
}