:root {
  /* Colors Primary */
  --primary-blue-500: hsl(215, 51%, 70%);
  --primary-cyan-400: hsl(178, 100%, 50%);

  /* Colors Neutral */
  --neutral-blue-950: hsl(217, 54%, 11%);
  --neutral-blue-900: hsl(216, 50%, 16%);
  --neutral-blue-800: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);

  /* Typography */
  --font-family-outfit: 'Outfit', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-outfit);
  background-color: var(--neutral-blue-950);
  color: var(--neutral-white);
}

/* Wrapper centra SOLO la card */
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card principal */
.card {
  max-width: 350px;
  background-color: var(--neutral-blue-900);
  border-radius: 15px;
  padding: 24px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

/* Imagen */
.card__image img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}

/* Contenido */
.card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Título */
.card__title a {
  color: var(--neutral-white);
  text-decoration: none;
  font-size: 22px;
  font-weight: var(--font-weight-semi-bold);
}

/* Descripción */
.card__description {
  font-size: 16px;
  color: var(--primary-blue-500);
  line-height: 1.6;
}

/* Detalles */
.card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

/* Precio */
.card__price {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--primary-cyan-400);
  font-weight: var(--font-weight-semi-bold);
}

.card__price img {
  width: 14px;
}

/* Tiempo */
.card__time {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--primary-blue-500);
}

.card__time img {
  width: 16px;
}

/* Línea divisoria */
hr {
  border: none;
  border-top: 1px solid var(--neutral-blue-800);
  margin: 8px 0;
}

/* Creador */
.card__creator {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}

.card__creator img {
  width: 32px;
  border-radius: 50%;
  border: 1px solid var(--neutral-white);
}

.card__creator p {
  color: var(--primary-blue-500);
}

.card__creator span {
  color: var(--neutral-white);
  font-weight: var(--font-weight-regular);
}

/* Footer */
.attribution {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

.attribution a {
  color: var(--primary-cyan-400);
  text-decoration: none;
}
