:root {
  /* Colors Primary */
  --primary-blue-500: hsl(215, 51%, 70%);
  --primary-cyan-400: hsl(178, 100%, 50%);
  /* Colors Neutral */
  --neutral-blue-950: hsl(217, 54%, 11%);
  --neutral-blue-900: hsl(216, 50%, 16%);
  --neutral-blue-800: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);
  
  /* Typography */
  --font-size-paragraph: 18px;
  
  --font-family-outfit: 'Outfit', sans-serif;
  
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-outfit);
  background-color: var(--neutral-blue-900);
  color: var(--neutral-white);
}

