:root {
  /* Colors Primary */
  --primary-blue-500: hsl(215, 51%, 70%);
  --primary-cyan-400: hsl(178, 100%, 50%);
  /* Colors Neutral */
  --neutral-blue-950: hsl(217, 54%, 11%);
  --neutral-blue-900: hsl(216, 50%, 16%);
  --neutral-blue-800: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);
  
  /* Typography */
  --font-size-paragraph: 18px;
  
  --font-family-outfit: 'Outfit', sans-serif;
  
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-outfit);
  background-color: var(--neutral-blue-950);
  color: var(--neutral-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* La card contenedor principal */
.card {
  max-width: 350px;
  background-color: var(--neutral-blue-900);
  border-radius: 15px;
  margin-top: 30px;
  padding: 24px;
}

/* Imagen central de la card */
.card__image img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}

/* Contenedor principal de contenido */
.card__content{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Título del NFT */
.card__title a {
  color: var(--neutral-white);
  text-decoration: none;
  font-size: 22px;
  font-weight: var(--font-weight-semi-bold);
}
.card__description {
  font-size: var(--font-size-paragraph);
  color: var(--primary-blue-500);
}


/* Footer attribution */
.attribution {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.attribution a {
    color: var(--primary-cyan-400);
    text-decoration: none;
}
