/* VARIABLES*/
:root {
  --bg-dark: #0a0a0a;
  --accent-orange: #ff7b00;
  --text-light: #f5f5f5;
  --text-muted: #cfcfcf;

  --card-bg: #111;
  --card-border: #222;

  --radius: 16px;
}

/* GLOBAL */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg-dark);
  color: var(--text-light);
}

img {
  max-width: 100%;
  display: block;
}

/* CONTAINER */
.container {
  width: min(1200px, 90%);
  margin: auto;
}

/* HEADER */
header {
  padding: 20px 0;
  background: rgba(10, 10, 10, 0.85);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 50;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.nav a {
  margin-left: 24px;
  text-decoration: none;
  color: var(--text-light);
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: var(--accent-orange);
}

/* HERO */
.hero {
  padding: 100px 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.hero-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  line-height: 1.05;
}

.hero-welcome {
  font-size: 40px;
  font-weight: 600;
  opacity: 0.85;
}

.hero-highlight {
  color: var(--accent-orange);
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 1px;
}

.hero-subtitle {
  margin: 20px 0 30px;
  color: var(--text-muted);
  line-height: 1.5;
  text-align: justify;
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.primary {
  background: var(--accent-orange);
  color: #000;
}

.primary:hover {
  filter: brightness(1.1);
}

.outline {
  border: 1px solid var(--accent-orange);
  color: var(--accent-orange);
}

.outline:hover {
  background: var(--accent-orange);
  color: #000;
}

.btn.small {
  padding: 8px 14px;
  font-size: 14px;
}

.icon {
  width: 18px;
  height: 18px;
}

/* imagen del hero */
.hero-image{
  position:relative;
  display:flex;
  align-items:center;       /* centra verticalmente */
  justify-content:center;   /* centra horizontalmente dentro de la columna */
  pointer-events:none;      /* decorativa, evita interacciones */
  transform: translateY(-48px); /* súbela un poco */
  z-index:10;
}


/* PROJECTS */
.projects {
  padding: 80px 0;
}

.section-title {
  font-size: 32px;
  margin-bottom: 30px;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 26px;
}

/* Cards */
.card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: var(--radius);
  overflow: hidden;
  transition: 0.3s ease;
  padding: 14px;
}

.card:hover {
  transform: translateY(-6px);
  border-color: var(--accent-orange);
}

.card-img {
  width: 100%;
  display: block;
  border-radius: 6px;
  margin-bottom: 20px;
}

.card-content {
  padding: 20px;
}

.tags span {
  display: inline-block;
  background: #222;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.card-description {
  margin-top: 12px;
  color: var(--text-muted);
  font-size: 14px;
  text-align: justify;
  line-height: 1.4;
  opacity: 0.85;
}

.card-buttons {
  margin-top: 18px;
  display: flex;
  gap: 10px;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 40px 0;
  color: var(--text-muted);
  font-size: 14px;
}
.footer a {
  color: var(--accent-orange);
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
