
:root{
    /* Colors */
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    /* Font */
    --font-family: 'DM Sans', sans-serif;
    --font-size--body: 18px;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  min-height:100vh;
  display:grid;
  place-items:center;
}



