:root{
    /* Colors */
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    /* Font */
    --font-family: 'DM Sans', sans-serif;
    --font-size--body: 18px;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  min-height:100vh;
  display:grid;
  place-items:center;
  font-family: var(--font-family);
  background: var(--yellow-100);
}

/* Main Content */
main{
    max-width: 1100px;
    width: 100%;
}

/* Bento Grid */
.bento{
    display: grid;
    gap: 20px;
    
}

/* Card container */
.card{
    background-color: var(--white);
    border-radius: 14px;
    padding: 24px;
    display: grid;
    gap: 14px;
}

/* Card text container */
.card h1,
.card h2{
    font-size: 24px;
    color: var(--black);
}
.card p{
    font-size: var(--font-size--body);
}


