:root {
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Fonts */
    --font-family: 'Hanken Grotesk', sans-serif;
    --font-size-base: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CARD */
.card {
  background-color: var(--white);
  border-radius: 30px;
  overflow: hidden;
  max-width: 375px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

/* RESULT */
.card__result {
  background: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  color: var(--white);
  text-align: center;
  padding: 35px 30px;
}

.card__result h1 {
  font-size: 20px;
  color: var(--light-lavender);
  margin-bottom: 25px;
}

.card__score {
  width: 140px;
  height: 140px;
  margin: 0 auto 25px;
  border-radius: 50%;
  background: linear-gradient(
    var(--violet-blue),
    var(--persian-blue)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__score-number {
  font-size: 56px;
  font-weight: 800;
}

.card__score-total {
  font-size: 14px;
  color: var(--light-lavender);
}

.card__result h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card__result p {
  font-size: var(--font-size-base);
  color: var(--light-lavender);
}

/* SUMMARY */
.card__summary {
  padding: 30px;
}
.card__summary h2 {
  margin-bottom: 20px;
  color: var(--dark-gray-blue);
}
.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-weight: 700;
}
.summary-left {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* TEXT COLORS FOR THE SECTION */
.reaction {
  background: hsla(0, 100%, 67%, 0.1);
  color: var(--light-red);
}

.memory {
  background: hsla(39, 100%, 56%, 0.1);
  color: var(--orangey-yellow);
}

.verbal {
  background: hsla(166, 100%, 37%, 0.1);
  color: var(--green-teal);
}

.visual {
  background: hsla(234, 85%, 45%, 0.1);
  color: var(--cobalt-blue);
}

/* Colors text section */
.summary-item p {
  color: var(--light-lavender);
}
.summary-item strong {
  color: var(--dark-gray-blue);
}

/* BUTTON */
button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background: var(--dark-gray-blue);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
}

/* DESKTOP */
@media (min-width: 768px) {
  .card {
    display: flex;
    max-width: 670px;
  }

  .card__result,
  .card__summary {
    width: 50%;
  }

  .card__result {
    border-radius: 30px;
  }
}

/* Attribution */
.attribution {
    margin-top: 32px;
    font-size: 14px;
    text-align: center;
    color: var(--dark-gray-blue);
    opacity: 0.7;
    margin-bottom: 5px;
}
.attribution a {
    color: var(--light-slate-blue);
    text-decoration: none;
    font-weight: 600;
}
.attribution a:hover {
    text-decoration: underline;
}