@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    
    --font-family: "Figtree", sans-serif;
    --paragraph-size: 16px;

    --radius: 14px;
    --transition: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--yellow);
    font-family: var(--font-family);
}

/* CARD */
.card {
    background: var(--white);
    width: 384px;
    padding: 24px;
    border-radius: var(--radius);
    border: 1px solid var(--gray-950); 
    box-shadow: 6px 6px 0 var(--gray-950); 
}

.card__img {
    width: 100%;
    display: block;
    border-radius: 8px;
    margin-bottom: 24px;
}

/* BADGE */
.card__category {
    display: inline-block;
    background: var(--yellow);
    padding: 4px 12px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 14px;
}

/* FECHA */
.card__date {
    display: block;
    font-size: 14px;
    color: var(--gray-950);
    margin-bottom: 1rem;
}

/* TITULO */
.card__title {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 800;
    color: var(--gray-950);
    cursor: pointer;
    transition: var(--transition);
}

.card__title:hover {
  color: var(--yellow);
}

/* DESCRIPCIÓN */
.card__description {
    color: var(--gray-500);
    font-size: var(--paragraph-size);
    line-height: 1.5;
    margin-bottom: 24px;
}

/* AUTHOR */
.card__author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card__author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card__author-name {
    font-weight: bold;
}


.attribution {
    margin-top: 35px;
    font-size: 12px;
    text-align: center;
    color: var(--gray-950);
    opacity: 0.7;
}

.attribution a {
    color: var(--gray-950);
    text-decoration: none;
    font-weight: bold;
}

.attribution a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {

  body {
    padding: 20px; /* evita que la card pegue a los bordes */
  }

  .card {
    width: 100%;      /* ocupa todo el ancho disponible */
    max-width: 340px; /* tamaño ideal del diseño en móvil */
    padding: 20px;
    box-shadow: 4px 4px 0 var(--gray-950);
  }

  .card__title {
    font-size: 18px; /* ligeramente más pequeño para móvil */
  }

  .card__description {
    font-size: 15px;
  }

  .card__img {
    margin-bottom: 20px;
  }
}
