:root {
    /* Colors Primary */
    --blue-100: hsl(225, 100%, 94%);
    --blue-700: hsl(245, 75%, 52%);
    /* Colors Neutral */
    --blue-50: hsl(225, 100%, 98%);
    --gray-600: hsl(224, 23%, 55%);
    --blue-950: hsl(223, 47%, 23%);
    /* Typography */
    --font-size-paragraph: 16px;
    --font-family: 'Red Hat Display', sans-serif;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--blue-100);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}






/* FOOTER */
.attribution {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}

.attribution a {
    color: var(--blue-700);
    text-decoration: none;
}

