:root {
    /* Colors Primary */
    --blue-100: hsl(225, 100%, 94%);
    --blue-700: hsl(245, 75%, 52%);
    /* Colors Neutral */
    --blue-50: hsl(225, 100%, 98%);
    --gray-600: hsl(224, 23%, 55%);
    --blue-950: hsl(223, 47%, 23%);
    /* Typography */
    --font-size-paragraph: 16px;
    --font-family: 'Red Hat Display', sans-serif;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-900: 900;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--blue-100);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.08);
    width: 375px;
    overflow: hidden;
}

/* Diseño para la imagen principal de la tarjeta */
.card__image img {
    width: 100%;
    height: auto;
}

/* Diseño para el contenido de la tarjeta */
.card__content {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card__title {
    font-size: 26px;
    font-weight: var(--font-weight-900);
    color: var(--blue-950);
    margin-bottom: 15px;
}

.card__description {
    font-size: 16px;
    font-weight: var(--font-weight-500);
    color: var(--gray-600);
    line-height: 1.7;
    margin-bottom: 30px;
    max-width: 300px;
}

/* Diseño para el plan anual */
.card__plan {
    background-color: var(--blue-50);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.card__plan img {
    width: 45px;
    height: 45px;
}

.card__plan-details {
    display: flex;
    flex-direction: column;
}

.card__plan-name {
    font-size: 15px;
    font-weight: var(--font-weight-900);
    color: var(--blue-950);
}

.card__plan-price {
    font-size: 15px;
    color: var(--gray-600);
}

.card__plan-change {
    margin-left: auto;
    font-size: 14px;
    font-weight: var(--font-weight-700);
    color: var(--blue-700);
}

.card__plan-change:hover {
    text-decoration: none;
    opacity: 0.7;
}

/* Diseño para los botones */
.card__buttons {
    display: flex;
    gap: 20px;
}

.card__button {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: var(--font-weight-900);
    text-align: center;
    border: none;
    cursor: pointer;
}

/* Diseño para el boton primario */
.card__button--primary {
    background-color: var(--blue-700);
    color: white;
    box-shadow: 0px 15px 25px rgba(56, 42, 225, 0.3);
    margin-bottom: 20px;
}

.card__button--primary:hover {
    background-color: hsl(245, 75%, 60%);
}

/* Diseño para el boton secundario */
.card__button--secondary {
    background: none;
    border: none;
    text-decoration: none;
    color: var(--gray-600);
    font-weight: var(--font-weight-900);
}

.card__button--secondary:hover {
    color: var(--blue-950);
}


/* FOOTER */
.attribution {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}

.attribution a {
    color: var(--blue-700);
    text-decoration: none;
}

