:root{
    --color-primary-700: hsl(257, 40%, 49%);
    --color-magenta-400: hsl(300, 69%, 71%);
    
    --font-heading-family: 'Poppins', sans-serif;
    --font-heading-weight-regular: 400;
    --font-heading-weight-semibold: 600;
    
    --font-body-family: 'Open Sans', sans-serif;
    --font-body-weight-regular: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: var(--color-primary-700);
  background-image: url('../08-huddle-landing/images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  font-family: var(--font-heading-family);
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 24px;
}

 /* Header */
 .header {
  margin-bottom: 60px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
/* Main image */
.main__image img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
/* Text Content */
.main__content {
  text-align: center;
}

.main__title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: var(--font-heading-weight-semibold);
  color: white;
}
.main__description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  opacity: 0.9;
  color: whitesmoke;
}

/* Button */
.btn-register {
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  border: none;
  padding: 14px 60px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.btn-register:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

/* Footer */
.footer {
  margin-top: 50px;
  text-align: center;
}

/* Social Media Links */
.social {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social a:hover {
  background-color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}


/* Attribution */
.attribution {
    margin-top: 35px;
    font-size: 14px;
    text-align: center;
    color: white;
    opacity: 0.7;
    margin-bottom: 5px;
}
.attribution a {
    color: var(--color-magenta-400);
    text-decoration: none;
    font-weight: 600;
}
.attribution a:hover {
    text-decoration: underline;
}

@media (min-width: 1024px) {

  .main-content {
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }

  .main__image {
    flex: 1.4;
  }

  .main__image img {
    max-width: 100%;
  }

  .main__content {
    flex: 1;
    text-align: left;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__description {
    max-width: 500px;
  }

  .btn-register {
    padding: 16px 70px;
  }

  .social {
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
  }

}

