:root{
    --color-primary-700: hsl(257, 40%, 49%);
    --color-magenta-400: hsl(300, 69%, 71%);
    
    --font-heading-family: 'Poppins', sans-serif;
    --font-heading-weight-regular: 400;
    --font-heading-weight-semibold: 600;
    
    --font-body-family: 'Open Sans', sans-serif;
    --font-body-weight-regular: 400;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20px;
    padding: 10px;
    background-color: var(--color-primary-700);
    background-image: url('../08-huddle-landing/images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

h1{
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight-semibold);
    color: white;
    font-size: 32px;
}

p{
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight-regular);
    color: white;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}


/* Footer */
.attribution {
    margin-top: 38px;
    font-size: 14px;
    text-align: center;
    color: white;
    opacity: 0.7;
    margin-bottom: 5px;
}
.attribution a {
    color: var(--color-magenta-400);
    text-decoration: none;
    font-weight: 600;
}
.attribution a:hover {
    text-decoration: underline;
}
