
:root {
    /* Colors Primary */
    --green-primary: hsl(158, 36%, 37%);
    --green-primary-dark: hsl(158, 42%, 18%);
    /* Colors Neutral */
    --black-neutral: hsl(212, 21%, 14%);
    --grey-neutral: hsl(228, 12%, 48%);
    --cream-neutral: hsl(30, 38%, 92%);
    --white-neutral: hsl(0, 0%, 100%);

    /* Font Sizes */
    --font-size-paragraph: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cream-neutral);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Card Container */
.card {
    display: flex;
    max-width: 570px;
    background-color: var(--white-neutral);
    border-radius: 12px;
    overflow: hidden;
}
.card__media,
.card__content {
  flex: 1;
}
/*Image */
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Content */
.card__content {
    padding: 34px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card__category {
    margin-top: 10px;
    color: var(--grey-neutral);
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.card__title {
    color: var(--black-neutral);
    font-size: 32px;
    line-height: 1.1;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    margin-top: 2px;
}
.card__description {
    color: var(--grey-neutral);
    font-size: var(--font-size-paragraph);
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    max-width: 240px;
}

/* Price & Button */
.card__price {
    display: flex;
    align-items: center;
    gap: 20px;
}
.card__price--new {
    color: var(--green-primary);
    font-size: 32px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
}
.card__price--old {
    color: var(--grey-neutral);
    font-size: var(--font-size-paragraph);
    text-decoration: line-through;
}
.card__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-top: 10px;
    padding: 15px;
    background-color: var(--green-primary);
    color: var(--white-neutral);
    border: none;
    border-radius: 8px;
    font-size: var(--font-size-paragraph);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.card__button:hover {
    background-color: var(--green-primary-dark);
}

/* Footer */
.attribution {
    margin-top: 35px;
    font-size: 12px;
    text-align: center;
    color: var(--green-primary-dark);
    opacity: 0.7;
    margin-bottom: 20px;
}
.attribution a {
    color: var(--green-primary);
    text-decoration: none;
    font-weight: bold;
}
.attribution a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 375px) {
    .card {
        flex-direction: column;
        width: 90%;
    }
    .card__media {
        width: 100%;
    }
}
