:root {
    /* Colors Primary */
    --color-primary-blue-600: hsl(185, 75%, 39%);
    --color-primary-navy-950: hsl(229, 23%, 23%);
    --color-primary-gray-500: hsl(227, 10%, 46%);

    /* Colors Neutral */
    --color-neutral-gray-100: hsl(225, 10%, 92%);

    /* Typography Body Copy */
    --font-size-body-copy: 18px;

    /* Font Family */
    --font-family-kumbh-sans: 'Kumbh Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-family-kumbh-sans);
    background-color: var(--color-primary-blue-600);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Profile Card Styles */
.profile-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 400px;
    text-align: center;
    overflow: hidden;
}

/* Card Header */
.card-header {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.profile-picture {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-top: -50px;
    object-fit: cover;
}

/* Card Body */
.card-body {
    padding: 20px;
}
.name {
    font-size: var(--font-size-body-copy);
    color: var(--color-primary-navy-950);
    font-weight: 700;
    margin-bottom: 5px;
}
.age {
    font-size: var(--font-size-body-copy);
    font-weight: 400;
    color: var(--color-primary-gray-500);
}
.location {
    font-size: 16px;
    color: var(--color-primary-gray-500);
    margin-bottom: 20px;
}
hr {
    width: 100%;
    border: none;
    border-top: 2px solid var(--color-neutral-gray-100);
    margin: 20px 0;
}


/* Attribution */
.attribution {
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    color: #000;
    opacity: 0.7;
    margin-bottom: 5px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: 600;
}
.attribution a:hover {
    text-decoration: underline;
}